@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Source+Sans+Pro:300,400,700");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/banner.css");

body{font-family: 'Roboto', sans-serif;
font-size: 22px;
margin: 0;
}

a{text-decoration: none;
}

h1, h2, h3{font-family: 'Source Sans Pro', sans-serif;
font-size: 30px;
}


