.banner{
	background-image: url(../../pictures/photo-banniere.jfif);
	color: white;
	padding: 160px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1{font-size: 60px; padding-bottom: 10px;}

.banner h2{font-size: 30px;
	font-weight: lighter;
	margin-bottom: 40px;
}